---
import Layout from "../../components/Layout.astro";
import { supabase } from "../../utils/database";

export const prerender = false;

const { id } = Astro.params;

if (!id) {
  throw new Error("No framework id provided");
}

// Fetch pet data from Supabase if connection is set up
let framework;
if (supabase) {
  const { data, error } = await supabase
    .from("coach_year")
    .select("*")
    .eq("id", id)
    .single();
  framework = data ? data : null;
  if (error || !framework) {
    console.error(error);
    throw new Error("No framework found");
  }
}
---

<Layout title={`${framework?.name} | Frameworks`}>
  <article class="border-b pb-14 border-neutral-600">
    <header
      class="flex flex-wrap items-center justify-between pb-2 mb-8 border-b"
    >
      <h1 class="mb-4 text-5xl font-bold">{framework?.name}</h1>
    </header>

    <figure>
      <figcaption class="font-mono text-xs">{framework?.name} logo</figcaption>
    </figure>

    <p class="py-6 text-xl">{framework?.prob}</p>

    <form action={`/api/frameworks/${framework?.id}/like`} method="post">
      <h2 class="mb-2 text-2xl">Like {framework?.name}!</h2>

      <button
        type="submit"
        class="px-4 py-2 bg-green-500 rounded text-neutral-800 hover:bg-green-600"
        >Give {framework?.name} your vote &starf;</button
      >
    </form>
  </article>
</Layout>
